@charset "UTF-8";
/* CSS Document */

@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-o-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
}

/* Header */

.header {
	background-color: #999;
	width: 100%;
	padding: 15% 5% 5%;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	color: #FFF;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-weight: bold;
}

img {
	width: 100%;
	margin-bottom: 1rem;
}

.logo {
	width: 100px;
	float: left;
}

/* Navigation */

.nav {
	padding: 0;
}

.nav li {
	display: block;
	text-align: center;
	margin-left: 0;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	display: block;
	position: absolute;
	top: 20px;
	right: 5%;
	height: 40px;
	width: 40px;
	background: #FFF url('../images/nav-icon.svg') no-repeat center center;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: #CCC;
}

.nav-btn[data-state="active"] {
	background: #FFF url('../images/nav-close.svg') no-repeat center center;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	padding: 0.75rem;
	text-align: center;
	color: #FFF;
	background-color: #000;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: #CCC;
}

.nav-top {
	max-height: 0;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
	overflow: hidden;
}

.nav-top[data-state="expanded"] {
	max-height: 14rem;
}

	/* 400px */
@media only screen and (min-width: 25em) {
	.header {
		padding: 5%;
	}
	
	.nav {
		overflow: auto;
	}
	
	.nav li {
		float: left;
		width: 33.33%;
	}
	
	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited {
		display: none;
	}
	
	.nav-top {
		max-height: 5rem;
	}
}

	/* 460px */
@media only screen and (min-width: 28.75em) {
	h1 {
		margin-bottom: 3rem;
	}
}

	/* 560px */
@media only screen and (min-width: 35em) {
	.header {
		padding-bottom: 0%;
	}
	
	h1 {
		display: none;
		margin-top: 1rem;
	}
	
	.nav {
		margin-top: 1rem;
		overflow: auto;
	}
	
	.nav ul {
		margin-bottom: 0;
	}
	
	.nav li {
		display: inline-block;
		margin: 0;
		width: 33.33%;
	}
	
	.nav a,
	.nav a:link,
	.nav a:visited {
		border-top: 0;
	}
	
	.nav-top {
		float: right;
		margin-right: 5%;
	}
	
	h1 {
		display: inline;
		width: auto;
	}
	
	.header {
		overflow: auto;
	}
	
	.logo {
		float: left;
		display: inline;
		margin-right: 3%;
	}
	
	img {
		float: right;
		width: 50%;
		margin: 0 0 0 1rem;
	}
}

	/* 641px */
@media only screen and (min-width: 40.0625em) {
	.nav {
		margin-top: 2.5rem;
	}
}

/* Main */

h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5rem;
	padding-bottom: 1rem;
	font-weight: bold;
}

h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.25rem;
	font-weight: bold;
	background-color: #999;
	padding: 1rem 5%;
}

.main {
	margin: 0 auto;
	padding: 5%;
}

dt {
	font-weight: bold;
	margin-top: 1rem;
}

dl,
ul {
	margin-bottom: 1rem;
}

p {
	margin-bottom: 2rem;
}

@media only screen and (min-width: 25em) {
	.img {
		float: right;
	}
}

@media only screen and (min-width: 35em) {
	.home img {
		float: right;
		width: 50%;
		margin: 0 0 2rem 1rem;
	}
	
	.main img {
		margin-top: 2rem;
	}
	
	.feature {
		overflow: auto;
	}
}

	/* 960px */
@media only screen and (min-width: 51em) {
	.header {
		float: left;
		width: 30%;
		padding: 2%;
	}
	
	.main {
		float: right;
		width: 70%;
		padding: 3%;
	}
	
	.logo {
		margin-bottom: 1.5rem;
	}
	
	.footer {
		clear: both;
	}
	
	.nav-top {
		float: none;
		clear: both;
		max-height: 15rem;
		margin-top: 1rem;
	}

	.nav-top li {
		display: block;
	}
}

/* Footer */

.footer {
	background-color: #999;
	padding: 3%;
	text-align: center;
}

.footer p {
	color: #FFF;
	margin-top: 1rem;
	margin-bottom: 2.5rem;
}

/* Schedule and Prices */
@media only screen and (min-width: 35em) {
	.col {
		width: 47%;
	}
	
	.left {
		float: left;
	}
	
	.right {
		float: right;
		margin-top: 1rem;
	}
	
	.main {
		overflow: auto;
	}
}